
/* Brands
-----------------------------------------------------------------*/

.clients-carso{

    .img{
        margin: auto;
        opacity: .7;

        &:hover{
            opacity: 1;
        }
    }
}